.s-header{
position: absolute;
top:2rem;
right: 0;
left: 0;
bottom: 0;
width: 100%;
border: 1px;
height: 7px;
text-align: left;
}
.header-logo{
display: inline-block;
margin: 6px 0;
position: absolute;
top: 50%;
}
.color-titulo{
    position: absolute;
    top: 5px;
    right: 0;
    /*Falta cambiar posicion al lado izquierdo y derecho*/
    left: 300px;
}
